PORT=3000
APP_URL=http://localhost:3000

# Database (PostgreSQL connection URL)
DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require

# aamarPay Credentials
AAMARPAY_STORE_ID=aamarpaytest
AAMARPAY_SIGNATURE_KEY=dbb74894e82415a2f7ff0ec3a97e4183
AAMARPAY_BASE_URL=https://sandbox.aamarpay.com
